/* .App {
  text-align: center;
} */
body{
  margin: 0;
  background-color: #fdfdfd;
}
.bug {
  background: linear-gradient(135deg, green, rgb(8, 230, 8));
}
.dark {
   background: linear-gradient(135deg, black, rgb(1, 1, 39));
}
.dragon {
   background: linear-gradient(135deg,gold , rgb(218, 185, 0));
}
.electric {
   background: linear-gradient(135deg, yellow, orange);
}
.fairy {
   background: linear-gradient(135deg, pink, rgb(255, 78, 107));
}
.fighting {
   background: linear-gradient(135deg, rosybrown, rgb(100, 64, 64));
}
.fire {
  background: linear-gradient(135deg, red, yellow);
}
.flying {
   background: linear-gradient(135deg, silver, rgb(218, 218, 218));
}
.ghost {
   background: linear-gradient(135deg, midnightblue, rgb(28, 28, 80));
}
.grass {
   background: linear-gradient(135deg, rgb(107, 233, 107), rgb(8, 230, 8));
}
.ground {
   background: linear-gradient(135deg, brown, rgb(82, 17, 17));
}
.ice {
   background: linear-gradient(135deg, rgb(73, 73, 199), rgb(62, 62, 255));
}
.normal {
   background: linear-gradient(135deg, grey, rgb(247, 241, 241));
}
.poison {
   background: linear-gradient(135deg, rgb(0, 0, 92), rgb(16, 95, 0));
}
.psychic {
   background: linear-gradient(135deg, yellow, gold);
}
.rock {
   background: linear-gradient(135deg, brown, rgb(112, 99, 99));
}
.steel {
   background: linear-gradient(135deg, rgb(112, 112, 112), rgb(88, 87, 87));
}
.water {
   background: linear-gradient(135deg, blue, rgb(42, 42, 214));
}
.container-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.input-search{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-search input{
  width: 75%;
  margin-bottom: 0.5rem;
}
.select-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.select-type{
  display: flex;
  
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}
.list-item{
  display: flex;
  list-style: none;
  border-radius: 1rem;

  width: 98%;
  margin-bottom: 1rem;
}
.item-container{
  width: 99%;
  display: flex;
  border-radius: 1rem;
}
.detail-item{
  width: 50%;
  text-align: center;
}
.image-item{
  width: 50%;
  display: flex;
  align-items: flex-end;
}
.image-item img{
  width: 100%;
}

/* Pokemon Detail css*/

.image-container-detail{
  width: 100%;
}
.image-container-detail img{
  width: 100%;
}
.image-container-pokemon{
  width: 100%;
}
.info-detail-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.info-detail-item{
  width: 50%;
  flex-direction: column;
  display: flex;
  text-align: center;
}
.name-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.name-container  p::first-letter{
  font-size: 150%;
}
.name-container p{
  font-size: xx-large;
  font-weight: bold;
}
.type-item{
  width: 100%;
}
.movements-container{
  text-align: center;
}